<!DOCTYPE html>
<html>
  <head>
    <title>Villa Estense Home Page</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="Country logo" height="40" width="40" />
    </header>
    {{{body}}}
  </body>
</html>
